<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

      <!-- fonts saya -->
      <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<!-- icon -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <!-- My CSS -->
    <link rel="stylesheet" href="styles/style.css">
    

    <title>Hello, world!</title>
  </head>
  <body>
  
  <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container">
    <a class="navbar-brand" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup"></div>
      <div class="container" >
      <div class="navbar-nav ml-2" >
        <a class="nav-link" href="#">HOME</a>
        <a class="nav-link" href="#">WORK</a>
        <a class="nav-link" href="#">CONTACT</a>
        <a class="nav-link" href="#">ABOUT ME</a>
        
      </div>

    </div>
          <a class="nav-link" href="#">SIGNUP</a>
          <a class="nav-link" href="#">LOGIN</a>
        
  </div>
      </div>  
      
  </nav>
<!-- AKHIR NAVBAR -->

  <!-- JUMBOTRON -->
  <div class="jumbotron jumbotron-fluid ">
    <div class="container">
      <h1 class="display-4"><span>PLAY TRADISIONAL GAME </span> </h1>
      <h3 class="lead">Experience new tradisional game play</h3>
      <a class="btn btn-warning" href="#" role="button"> <strong>PLAY NOW</strong></a>
      <p class="scroll-down"> THE STORY </p>  
      <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
      </svg>


      
  </div>
   <!-- AKHIR JUMBOTRON -->

   <!-- container -->
   <div class="gallery1"> </div>
   <div class="container"> </div>
     <div class="row"> </div>
       <div class="col-2">
        <h3 class="special">What's so special?</h3>
        <h1 class="game">THE GAMES </h1>
      </div>
       
       <div class="col-8">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="img/s1.jpg" class="d-block w-60" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/s2.jpg" class="d-block w-60" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/s3.jpg" class="d-block w-60" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        
          
      </div>
   
 
<!-- container akhir -->

        <!-- PAGE 3 -->
        <di class="page-3">
          <div class="container">
            <div class="row">
    <div class="col-md-5 offset-md-7">
      <br><br><br><br><br><br>
      <div class="features">
      <h3>What's so special?</h3>
      <h1>FEATURES</h1>
      <ul>
        <li>TRADISIONAL GAMES</li>
        <p>If you miss your childhood, we provide many tradisional games here</p>
        <li>GAME SUITE</li>
      <li>TBD</li>
      </ul>
      </div>
    </div>
      </div>
      </div>
    </>
    <!-- AKHIR PAGE 3 -->

    <!-- PAGE 4 -->
    <div class="page-4">
    <div class="container">
      <div class="row"></div>
      <div class="col-md-7 offset-md-4 " ><h3>Can My Computer Run This Game</h3></div>
      <div class="col-md-4" ><h1>SYSTEM REQUIRMENTS</h1></div>

  
      <div class="col-6"></div>
      <table class="table table-borderless">
        <thead class="os">
          <tr>
            <th rowspan="2">OS :</th>
            <th >PROCESSOR :</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Windows 7 64-bit only
              (No OSX support at this time)</td>
            <td>Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</td>
          </tr>
        </tbody>
        <thead class="memory">
          <tr>
            <th rowspan="2">MEMORY :</th>
            <th scope="col">STORAGE :</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>4 GB RAM</td>
            <td>8 GB available space</td>
          </tr>
        </tbody>
        <thead class="graphic">
          <tr>
            <th  scope="col" colspan="2">GRAPHICS :</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">NVIDIA GeForce GTX 660 2GB or 
              AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5) </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
   
   <!-- AKHIR PAGE 4 -->


    <!-- PAGE5 -->
    <div class="page-5">
    <div class="container"> 
      <div class="row"></div>
  <div class="col-6"><h1>TOP SCORE</h1><br>
    <p> This top score from various games provided on this platform</p></div>
    <button type="button" class="btn btn-warning" ><strong>see more</strong> </button>


  <div class="col-6 offset-md-6">
    <div class="card " style="background-color: rgba(255, 255, 255, 0.08); width: 462px; height: 182px; margin-top: -450.59px; margin-left: 119.61px;">
      <img src="img/person1.jpg" style="width: 65px; height: 65px; border-radius:100%; margin-top: 11px; margin-right: 375px; margin-bottom: 106px; margin-left: 12px;">
        <h5 class="card-title" style="margin-top:-164px; margin-right: 81px; margin-bottom: 128px; margin-left:-109px; color: darkorange; ">Evan Lahti</h5>
      <h6 class="card-subtitle mb-2 text-muted" style="margin-top: -130px;  margin-right: 81px; margin-bottom: 128px; margin-left:-127px;">PC Gamer</h6>
    <p class="card-text1" style="margin-top:-340px; margin-right: 81px; margin-bottom: 128px; margin-left:-109px; width: 356px; height: 30px; font-weight: 400px; size: 18px;">"One of my gaming highlights of the year."</p>
    <footer class="blockquote-footer" style="margin-top:80px; margin-right: 81px; margin-bottom: 128px; margin-left:-109px; width: 356px; height: 30px; font-weight: 400px; size: 18px;">Oktober 18, 2018</footer>
    </div>
    </div>


<div class="col-7 offset-md-5">
  <div class="card " style="background-color: rgba(255, 255, 255, 0.08); width: 485px; height: 182px; margin-top: 20.59px; margin-left: 90.61px;">
    <img src="img/person2.jpg" style="width: 65px; height: 65px; border-radius:100%; margin-top: 11px; margin-right: 375px; margin-bottom: 106px; margin-left: 12px;">
    <h5 class="card-title" style="margin-top:-164px; margin-right: 81px; margin-bottom: 128px; margin-left:-109px; color: darkorange; ">Jadda Griffin</h5>
    <h6 class="card-subtitle mb-2 text-muted" style="margin-top: -130px;  margin-right: 81px; margin-bottom: 128px; margin-left:-137px;">Nerdreactor</h6>
    <p class="card-text1" style="margin-top:-340px; margin-right: 81px; margin-bottom: 128px; margin-left:-109px; width: 356px; height: 30px; font-weight: 400px; size: 18px;">“The next big thing in the world of streaming and survival games.”</p>
    <footer class="blockquote-footer" style="margin-top:80px; margin-right: 81px; margin-bottom: 128px; margin-left:-109px; width: 356px; height: 30px; font-weight: 400px; size: 18px;">December 21, 2018</footer>
  </div>
</div>

<div class="col-6 offset-md-6">
  <div class="card " style="background-color: rgba(255, 255, 255, 0.08); width: 462px; height: 182px; margin-top: 20.59px; margin-left: 90.61px;">
    <img src="img/person3.jpg" style="width: 65px; height: 65px; border-radius:100%; margin-top: 11px; margin-right: 375px; margin-bottom: 106px; margin-left: 12px;">
    <h5 class="card-title" style="margin-top:-164px; margin-right: 81px; margin-bottom: 128px; margin-left:-70px; color: darkorange; ">Aaron Williams</h5>
    <h6 class="card-subtitle mb-2 text-muted" style="margin-top: -130px;  margin-right: 81px; margin-bottom: 128px; margin-left:-155px;">Uproxx</h6>
    <p class="card-text1" style="margin-top:-340px; margin-right: 81px; margin-bottom: 128px; margin-left:-109px; width: 356px; height: 30px; font-weight: 400px; size: 18px;">“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</p>
    <footer class="blockquote-footer" style="margin-top:80px; margin-right: 81px; margin-bottom: 128px; margin-left:-109px; width: 356px; height: 30px; font-weight: 400px; size: 18px;">December 24, 2018</footer>
  </div>
</div>


  </div>
</div>
</div>


<!-- PAGE 6 -->
<div class="page-6" style="background-image: url(img/img/bg-image-5.png); width: 1448px; height: 959px;">
  <div class="container">
    <div class="row"></div>
      <div class="col-6">
      <img src="img/last2.jpg" alt="tropi" style="width: 445px; height: 694px; margin-top: 49px; margin-right: 842px; margin-bottom: 215px; margin-left: px;">
    </div>

<div class="col-6 offset-md-6">
  <h3 style="margin-top: -800px; text-align: left; color: white;">Want to stay in touch? </h3>
  <h1 style="text-align: left; color: white; font-style: normal; font-family: Open sans; size: 80px;">NEWSLETTER SUBSCRIBE </h1>
  <P style="text-align: left; color: white;">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</P>
</div>
</div>


<div class="col-6 offset-md-6">
<form>
  <div class="form" style="width:366px; height:60px; ">
    <label  for="exampleFormControlInput1">Your Email address</label>
    <input class="email1" type="email" class="form-control" style="background-color: rgba(255, 255, 255, 0.08); " id="exampleFormControlInput1" placeholder="yourmail@binar.co.id">
  </div>
  <button type="button" class="btn btn-warning" style="width: 200px; height: 60px; margin-top: -28px; margin-right: -250px;" ><strong>Subscribe Now</strong> </button>
</form>
</div>

<div class="footer">
<div class="row"></div>
  <div class=col-12>
  <h6>MAIN</h6>
  <h6>ABOUT</h6>
  <h6>SYSTEM REQUIRMENT</h6>
  <span class="material-icons">
    facebook
    </span>
    <span class="material-icons">
      play_arrow
      </span>
      <span class="material-icons">
        textsms
        </span>
        <hr>

        
</div>
</div>
  </div>
</div>



















    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->

 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>