<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binar Challenge 4 Game Suwit</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style-play.css">
</head>
<body>
    
    <div class="container">
        <header>
            <h3 class="header">  <img src="img/brand-logo.png" alt="logo suwit"> ROCK PAPER SCISSOR</h3>
        </header>

        <div class="game-display">
        <div class="row">
            <div class="col-5"><img src="" alt="">
                <h3>player 1</h3>
            <ul>
                <li ><img src="img/batu1.png" class="batu" alt="batu player"> </li>
                <li ><img src="img/kertas1.png" class="kertas" alt="kertas player"></li>
                <li ><img src="img/gunting1.png" class="gunting" alt="gunting player"></li>
            </ul></div>

            <div class="col-2">
                <h1 class="info">MENANG</h1>
                <img class="refresh" src="img/refresh2.png" alt="">  
            </div>
            <div class="col-5">
                <h3>com</h3>
                <ul>
                <li ><img src="img/batu2.png" class="cBatu" alt="batu comp "> </li>
                <li ><img src="img/kertas2.png" class="cKertas" alt="kertas comp"></li>
                <li ><img src="img/gunting2.png" class="cGunting" alt="gunting comp"></li>
            </ul>
            </div>
          </div>
        </div>
        </div>
    </div>

<script src="js/script.js"></script>
</body>
</html>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
