/*NAVBAR*/
.navbar {
    position: relative;
    z-index: 1;

}

.navbar-brand {
    width: 77px;
    height: 33px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;

}

/*JUMBOTRON*/
.jumbotron {
    background-image: url(img/bg-image.jpg);
    background-size: 1441px;
    height: 540px;
    text-align: center;
    margin-top: -75px;
    position: relative;

}



) .jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 2), rgba (0, 0, 0, 0));
    position: absolute;
    bottom: 0%;
}



.jumbotron .display-4 {
    color: white;
    font-family: arial;

}

.jumbotron .lead {
    color: white;
    margin-bottom: 50.32px;
}

.scroll-down {
    margin-top: 200px;
    margin-left: 10px;
    color: white;
    font-weight: normal;

}

.bi {
    color: white;
    padding-top: ;
}

/*gallery*/
.gallery1 {
    background-image: url(img/bg-image2.jpg);
    width: 1441.62px;
    height: 1051px;
    align-content: right;
    padding-top: 20px;
    margin-top: 0px;
    left: -1.55px;
    position: absolute;

}

.carousel-inner {
    width: 858px;
    height: 477px;
    margin-left: 340px;
    margin-top: -492px;
    margin-bottom: 482px;
    margin-right: 50px;


}

.carousel-item {
    width: 650px;
}


h3.special {
    text-align: center;
    width: 262px;
    height: 28px;
    color: white;
    font-family: arial;
    margin-top: 254px;
    margin-right: 1095px;
    margin-bottom: 13px;
    margin-left: 83px;


}





h1.game {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 411px;
    height: 73px;
    color: white;
    margin-bottom: 681px;

}

.page-3 {

    background-image: url(img/bg-image3.jpg);
    width: 1441px;
    height: 870px;
    margin-top: -20px;

}

.features {
    color: white;
    text-align: left;
}

.page-4 {
    background-image: url(img/bg-image-4.jpg);
    width: 1441px;
    height: 960px;
    margin-top: -20px;
    color: white;
}

h1.system {
    font-family: open sans;
    text-align: left;
    width: 633.19;
    height: 73.64;
    margin-top: 500.29px;
    margin-right: 676.84px;
    margin-bottom: 178.73px;
    margin-left: 131.55px;
}

.col-4 {
    text-align: left;
}

.table-borderless {
    margin-top: 178.73px;
    margin-left: 10.94px;
    font-family: Open Sans;
    color: white;
    text-align: left;
    width: 573px;
    height: 400px;

}

.sub {
    text-align: center;
}

.os,
.memory,
.graphic {
    color: orange;
    font-size: 18px;
    font-family: Open Sans;
}

.col-md-7 {
    font-family: open sans;
    margin-top: 100px;
    text-align: left;
    line-height: 16px;
    font-size: 4px;
    letter-spacing: 2px;

}

.col-md-4 {
    margin-top: -40px;
    font-family: arial;
    font-weight: 400px;
    text-align: left;
}

.page-5 {
    background-image: url(img/bg-image-5.png);
    width: 1441px;
    height: 960px;
}

.page-5 h1 {
    text-align: left;
    width: 410px;
    position: absolute;
    height: 153.56px;
    left: 118.97px;
    right: 63.31%;
    top: 340px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.page-5 p {
    text-align: left;
    width: 379px;
    height: 57px;
    position: absolute;
    left: 118.97px;
    right: 941px;
    top: 426.13px;
    bottom: 477.03px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}

.page-5 button {
    text-align: center;
    width: 260px;
    height: 60px;
    margin-top: 541px;
    margin-right: 1062px;
    margin-left: 118px;


}

.form-control {
    color: yellow;
}

.email1::-webkit-input-placeholder {
    color: orange;
}

.email1 {
    width: 366px;
    height: 60px;
    text-align: center;
}


.footer h6 {
    color: white;
    text-align: inherit;
    margin-bottom: 20px;
}




/*DESKTOP*/
@media (min-width: 992px) {

    .navbar-brand,
    .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
        top: 28.7px;
        font-family: 'Open Sans', sans-serif;


    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover {
        border-bottom: 3px solid #FFB548;
    }
}

.jumbotron {
    background-image: url(public/img/bg-image.jpg);
    background-size: 1441px;
    height: 960.14px;
    width: 1441.55px;
    left: -1.55px;
    top: 0.11px;
    text-align: center;
    margin-top: -75px;

}

.jumbotron .display-4 {
    color: white;
    margin-top: 223.68px;
    margin-left: 134.27px;
    margin-right: 150.77px;
    margin-bottom: 50.32px;
    font-weight: bold;

}

.jumbotron .lead {
    color: white;
    margin-bottom: 50.32px;
}